<script>
 window.gameName = "<%= @game %>";
</script>

<div class="row">
  <div class="column">
    <h1>Battleship Game: <%= @game %></h1>
    <div id="root">
      React component loading...
    </div>
  </div>
</div>