<div class="row">
  <div class="column">
    <h1>Join a Game</h1>
    <%= form_for @conn, "/join", [as: :join], fn f -> %>
      <p>Your Name: <%= text_input f, :user %></p>
      <p>Game Name: <%= text_input f, :game %></p>
      <p><%= submit "Join" %>
    <% end %>
  </div>
</div>