/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.Tile > button {
	width: 20%;
	height:width;

}

.Board1 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
  	grid-gap: 5px;
}

.WinText {
	color: green;
	font-weight: bold;
}